/* 
   LIGHT MODE BACKGROUND
 */

html[data-bs-theme="light"] .scene-bg {
    position: fixed;
    inset: 0;
    background-image: url("/images/theme/lightTheme.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 0;
}



html[data-bs-theme="light"] .light-vignette {
    position: fixed;
    inset: 0;
    background: radial-gradient( ellipse at center, transparent 45%, #8B400030 100% );
    z-index: 2;
    pointer-events: none;
}




/* 
   DARK MODE BACKGROUND
 */

html[data-bs-theme="dark"] .scene-bg {
    position: fixed;
    inset: 0;
    background-image: url("/images/theme/nightTheme.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 0;
}



html[data-bs-theme="dark"] .dark-vignette {
    position: fixed;
    inset: 0;
    background: radial-gradient( ellipse at center, transparent 70%, #2c221c 100% );
    z-index: 2;
    pointer-events: none;
}







.table-responsive {
    overflow: visible !important;
}

.dropdown-menu {
    z-index: 9999 !important;
}
